*:before,
*:after{
  box-sizing:border-box;
}


body{
  font-family: "Ubuntu";
  text-align:center;
  overflow-x:hidden;




}
h2{

  font-family:"Montserrat";
  color:#aacfcf;
  font-weight:bold;
  font-size:3rem;

}


h3{
  font-family:"Indie Flower";
  color:#aacfcf;
  font-size:1.5em;

}

 .bg-img{
 background-image: url(bottomright.jpg);
  background-size:cover;
   min-height: 700px;

  background-position: center;
  background-repeat: no-repeat;

  position: relative;

 }

.bigbrain{
  padding-top:300px;
}

 .fa{
   color:pink !important;
 }

 .container{
  position: absolute;
  left: 0;
  margin: 20px;
  max-width: 500px;
  max-height:800px;
  padding-top: 16px;
  background-color: white;
  border-radius:15px;
  margin-top:150px;
 }




.btn {
  position: relative;
  background-color:#679b9b;
  font-family:"Montserrat";
  border: none;
  font-size: 15px;
  color: #FFFFFF;
  padding:10px;
  width: 100px;
  height:50px;
  text-align: center;
  margin-top:50px;
  margin-bottom:100px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  border-radius:15px;

}

.btn:after {
  content: "";
  background: #aacfcf;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.btn:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}


.btn2{
  background-color: #679b9b;
  color: white;
  border: 2px solid #679b9b;
  transition-duration: 0.4s;
  border-radius:15px;
}

.btn2:hover{
   background-color: white;
   color:#679b9b;
}

.btn4{
  margin-top:1%;
}
.btn3,.btn4{
  transition-duration: 0.4s;
  background-color: white;
  color:white;
   border: 2px solid #ffb6b6;
   border-radius:15px;
}

.btn3:hover{
  background-color: #ffb6b6;
  color: white;
}

.btn4:hover{
  background-color: #ffb6b6;
  color: white;
}





h1
{
  font-family: "Fugaz One";
}



.block1{
  padding-top:10%;
}
.big-heading{
  font-family: "Fugaz One";
  font-size:3rem;
  line-height:15;

}
.container-fluid{
  padding:2% 7%;
}
.colored-section{
  background-color: #ffb6b6;
  color:#fde2e2;

}

.green{
  background-color:#679b9b;
  margin:0;
  height:100vh;
  font-size:5em;
  font-family:"Montserrat";
  font-weight:bold;
  color:#fde2e2;
  }

.white{
  color:#aacfcf;
  font-family:"Baloo Bhaina 2";
  font-size:3rem;

}

  section{
    height:100%;
  }
  .imp{
    list-style-type:none;
    padding:0;
    margin:0;
    display:grid;
    grid-template-columns:repeat(3,auto);
    justify-content:center;
    align-items: center;
    height:100vh;
    padding-left:7%;
  }



div2,div3{
  display: flex;
  align-items:center;
  width:100%;
  height:100vh;
  top:0;
  left:0;
  right:0;
  bottom:0;
  position:relative;



}

/*Table styling*/


.content-table{
  border-collapse:collapse;
  font-size:0.9em;
  width:100%;
  border-radius:5px 5px 0 0;
  overflow:hidden;
  box-shadow:0 0 20px rgba(0,0,0,0.15);


}

.content-table thead tr{
  background-color:#679b9b;
  color:#ffffff;
  text-align:left;
  font-weight:bold;
}

.content-table th {
   text-align:center;
}
.content-table td{
  padding:12px 15px;
  text-align:center;
}
.content-table tbody tr{
  border-bottom:1px solid #dddddd;
}

.ooga:nth-of-type(even) {
  background-color:#f3f3f3;
}
.ooga:last-of-type{
  border-bottom: 2px solid #679b9b;
}


.ooga{
  background-color:#fff;
}
/* THIS IS THE HAMBURGER MENU */
.menu{
  position:absolute;
  right:-100px;
  top:-100px;
  z-index:100;
  width:200px;
  height:200px;
  background-color:#fff;
  border-radius:50% 50% 50% 50%;
  box-shadow:0 0 0 0 #fff, 0 0 0 0 #fff;
  cursor:pointer;
  transition:0.5s ease-in-out;
}
.hamburger{
  position:absolute;
  top:60%;
  left:40%;
  width:30px;
  height:2px;
  background-color:#000;
  display:block;
  transform-origin:center;
  transition:0.5s ease-in-out;


}
label .hamburger:after,label.hamburger:before{
  content:"";
  position:absolute;
  display:block;
  width:100%;
  height:100%;
  background-color:#000;


}

label.hamburger:before{
  top:-10px;

}
label.hamburger:after{
  bottom: -10px;


}

label input{
  display:none;
}

label input:checked + .menu{
  box-shadow:0 0 0 100vw #fff, 0 0 0 100vh #fff;
  border-radius:0;
}

label input:checked+  .menu .hamburger{
  transform:rotate(45deg);
}

label input:checked + .menu .hamburger:after{
  transform:rotate(90deg);
  top: 0;
}

label input:checked + .menu+ul{
  opacity:1;
}

/*postion was absolute here*/
label ul{
    z-index:200;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    opacity:0;
    transition:0.25s 0s ease-in-out;
  }
label a{
  margin-bottom:1em;
  font-size:18px;
  display:block;
  color:#000;
  text-decoration:none;
  text-transform:uppercase;
  letter-spacing:2px;
  text-align:center;
  padding:12px 36px;
  font-weight:bold;
  transition:0.5s ease-in-out;

}

label a:hover{
  background-color:teal;
  color: #fff;
  letter-spacing:3px;
}


li{
  list-style-type:none;
}


/* END OF HAMBURGER  */

.lax{
  padding-top:5%;
}


.navbar{

}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 1.5rem;
  font-weight: bold;
  padding-top:0%;

}

.nav-item{
  padding: 0 18px;

}
 .nav-items{
   padding-top: 30%;
 }

.nav-link{
  font-size:1.2rem;
  font-family:"Ubuntu";
}




.input-field{
  border-radius:15px;
  border: 3px solid pink;
  padding:2%;

}

.input-field2{
  border-radius:15px;
  border: 3px solid pink;


}
::placeholder{

  opacity:0.5;

}
input:focus {

 outline: 2px solid pink;
 border-radius:15px;
}
input.visited {
  color: red;
 outline: 2px solid pink;
 border-radius:15px;
}


.row{
    padding-left:15%;
    font-family: "Indie FLower";
    font-size:3rem;
}

.input-container1,.input-container2, .input-container3{
  font-family:"Montserrat";


}
.input-container2, .input-container3{
  margin-top:20px;
}

/*

* {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}*/




#form{
  background-color:#fff;
}