*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  font-family: "Ubuntu";
  text-align:center;
  overflow-x:hidden;
  overflow-y:scroll;
}

html{
  font-family: "Ubuntu";
}

h2{

  font-family:"Ubuntu";
  color:#093A3E;
  font-weight:bold;
  font-size:3rem;

}

.sad{
  padding-right:53%;
}
h3{
  font-family:"Ubuntu";
  color:#093A3E;
  font-size:1.5em;
  display: inline-block;
  white-space:nowrap;

}

 .bg-img{
 background-image: url(bottomright.jpg);
  background-size:cover;
   min-height: 700px;

  background-position: center;
  background-repeat: no-repeat;

  position: relative;

 }

.bigbrain{
  padding-top:50px;
  background-image:url(oogabooga.jpg);
  background-size:cover;
  background-position:center;
  position:relative;
}

 .fa{
   color:pink !important;
 }

 .container{
  position: absolute;
  left: 0;
  margin: 20px;
  max-width: 500px;
  max-height:800px;
  padding-top: 16px;
  background-color: white;
  border-radius:15px;
  margin-top:150px;
 }




.btn {
  position: relative;
  background-color:#679b9b;
  font-family:"Montserrat";
  border: none;
  font-size: 15px;
  color: #FFFFFF;
  padding:10px;
  width: 100px;
  height:50px;
  text-align: center;
  margin-top:50px;
  margin-bottom:100px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  border-radius:15px;

}

.btn:after {
  content: "";
  background: #aacfcf;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.btn:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}


.btn2{
  background-color:#DE5E5B;
  color: white;
  border: 2px solid #DE5E5B;
  transition-duration: 0.4s;
  border-radius:15px;


}

.btn2:hover{
   background-color: white;
   color:#DE5E5B;
}

.btn4{
  margin-top:1%;
}
.btn3{
  transition-duration: 0.4s;
  background-color: #ffb6b6;
  color:white;
   border: 2px #ffb6b6;
   border-radius:15px;
   height:35px;

}
.btn4{
   width:220px;
   font-size:18px;
   transition-duration: 0.4s;
   background-color:#F0544F;
   color:white;
   border: 2px #F0544F;
   border-radius:15px;
   height:35px;

}
.btn3:hover{
  background-color:white;
  color: #ffb6b6;
}

.btn4:hover{
  background-color: white;
  color:#F0544F;
}





h1
{
  font-family: "Fugaz One";
}



.block1{
  padding-top:10%;
}
.big-heading{
  font-family: "Fugaz One";
  font-size:3rem;
  line-height:15;

}
.container-fluid{
  padding:2% 7%;
}
.colored-section{

  background-color:#ffb6b6;


}

.back
 {background-image: url(pg1bg.jpg);/*reduced size of image*/
  background-size:cover;
  background-position: center;
  position: relative;
  color:#fde2e2;

}
/*The annoying section*/
.green{
   background-image: url(page3bg.jpg);/*reduced size of image*/
   background-size:cover;
  background-position: center;
  position: relative;
  font-size:5em;
  font-family:"Montserrat";
  font-weight:bold;
  color:#fde2e2;
  z-index:0;
  height:200vh;
  padding-top:20%;
  }

   .imp{
    list-style-type:none;
    padding:0;
    margin:0;
    display:grid;
    grid-template-columns:repeat(3,auto);
    justify-content:center;
    align-items: center;


  }
  .testimonial-carousel{
    font-size:2rem;
    padding-top:20%;
  }
  .carousel-item{
    color:#ffcc00;
  }

  .hold{
   margin-top:230%;
  }

  .lolman{
    background-color:#8D021F;
   z-index:1;
  }

   section{
    height:100%;
  }



.white{
  color:#aacfcf;
  font-family:"Baloo Bhaina 2";
  font-size:2.5em;
  text-align:center;
  padding:3em;
  background-color:#FF7F50;


  background-image: url(page2bg.jpg);
  background-size:cover;

  background-position: center;

  background-repeat: no-repeat;
  position: relative;

}



   .bigboi{
     width:100%;
     background:red;
     height: 5px;
     display:block;
     margin-top:20px;
       }











div2,div3{
  display: flex;
  align-items:center;
  width:100%;
  height:100vh;
  top:0;
  left:0;
  right:0;
  bottom:0;
  position:relative;



}

/*Table styling*/

th{
  font-size:1.8rem;
}

.fire{
  background-color:#ED7B84;
}

.noob{
  font-size:2rem;
}


.content-table{
  border-collapse:collapse;
  font-size:0.9em;
  width:90%;
  border-radius:5px 5px 0 0;
  overflow:hidden;
  box-shadow:0 0 20px rgba(0,0,0,0.15);
  margin-left:5%;


}

.content-table thead tr{
  background-color:#F0544F;
  color:#ffffff;
  text-align:left;
  font-weight:bold;
  height:50px;
}

.content-table th {
   text-align:center;
}
.content-table td{
  padding:12px 15px;
  text-align:center;
}
.content-table tbody tr{
  border-bottom:1px solid #dddddd;
}

.ooga:nth-of-type(even) {
  background-color:#f3f3f3;
}
.ooga:last-of-type{
  border-bottom: 2px solid #DE5E5B;
}


.ooga{
  background-color:#fff;
}

.navbar{
  margin-top:0%;



}


#bottom{
  animation:rectangle 1.5s infinite;
  transform-origin:center;

}
#top{
  animation:rect 1.5s infinite;
  transform-origin:center;
}

#tick{
  animation:rec 1.5s infinite;
  transform-origin:center;

}

@keyframes rec{
   from {
      transform: rotate(0deg);
        }
    to {


      transform: rotate(360deg);
    }
  }


@keyframes rectangle{
   from{
     transform: rotatateX(0deg);
   }
   to{
     transform:rotateX(360deg);
   }
}

@keyframes rect{
  from{
    transform:rotateX(0deg);
  }
  to{
    transform:rotateX(360deg);
  }
}

.nav-items{
  display:flex;
  justify-content:right;
  list-style:none;
  margin-right:1%;
}




.navbar{


}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 1.8rem;
  font-weight: bold;
  padding-top:0%;

}

.nav-item{
  padding: 0 18px;
  font-family:"Roboto Condensed";


}
 .nav-items{
   padding-top: 30%;
 }

.nav-link{
  font-size:1.2rem;
  font-family:"Ubuntu";
}

.dandia{
 padding-right:50%;
 white-space:nowrap;
 overflow-x:auto;
}


.input-field{
  border-radius:15px;
  border: 3px solid pink;
  padding:2%;

}

.input-field2{
  border-radius:15px;
  border: 3px solid pink;
  margin-left:0%;
  font-family:"Ubuntu";


}
::placeholder{

  opacity:0.5;

}
input:focus {

 outline: 2px solid pink;
 border-radius:15px;
}
input.visited {
  color: red;
 outline: 2px solid pink;
 border-radius:15px;
}


.row{
    padding-left:15%;
    font-family: "Indie FLower";
    font-size:3rem;
}

.input-container1,.input-container2, .input-container3{
  font-family:"Montserrat";


}
.input-container2, .input-container3{
  margin-top:20px;
}

/*

* {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}*/




#form{
  background-color:#fff;
}






/* pricing table */

