{% extends "layout.html" %}

{% block title %}
    : Log In
{% endblock %}

{% block main %}
 <div class="bg-img">
        <form action="/login" method="post" class="container">
          <div class="block1">
            <!--make username field with name=username, password field with name=password, and a submit button called Log-In-->

            <div class="input-container1">
                <i class="fa fa-user icon"></i>
                <input class="input-field" type="text" placeholder=" Username" name="username">
            </div>

 <div class="input-container2">
    <i class="fa fa-key icon"></i>
    <input class="input-field" type="password" placeholder=" Password" name="password">
            </div>
                <div>
                    <button class="btn btn-outline-light btn-lg download-button" type="submit">Log In</button>
                </div>
            </div>
        </form>
 </div>


{% endblock %}