{% extends "layout.html" %}

{% block title %}
    : The Office
{% endblock %}

{% block main %}
  <section class="bigbrain">
    <div class="dandia">

        <form action="/add" method="post">
          <h2>ADD A NEW TASK</h2><br><input class="input-field2" name="task" type="text" size="30" style="height:35px;" placeholder="Enter a Task">
          <button class="btn3" type="submit">Add Task</button>
        </form>
    </div>
    <br><br><br><br>



<audio id="sound" src="static/sound.mp3" preload="auto"></audio>



<form action="/remove" method="post">

  <h2 class="sad">TASK LIST</h2>
      <br>
      <div>

            <table class="content-table table-hover table-primary">
              <thead>
              <tr>
                <th>:)</th>
                <th>Task</th>
                <th>Pomodoro</th>
                <th>Break</th>
                <th>Timer</th>

              </tr>
              </thead>
            {% for index, task in tasks %}
              <tbody class="ooga">
                <tr>
                  <td><input type="checkbox" name="check{{index}}"></td>
                  <td><span style="font-size: 20px;" name="removed{{index}}">{{ task }}</span></td>
                  <td><button class="btn2" id="pbtn{{index}}" type="button" name="pomostart{{index}}" onclick="pomoactivate{{index}}()">Start Pomodoro</td>
                  <td><button class="btn2" id="bbtn{{index}}" type="button" name="breakstart{{index}}"  onclick="breakactivate{{index}}()">Start Break</td>
                  <td><p id="timer{{index}}">--</p></td>
                </tr>
              </tbody>
            {% endfor %}
           </table>

{% for i in range(0, count) %}

                  <script>
                  function pomoactivate{{i}}()
                  {
                      var d = new Date();
                      var countDownDate = d.getTime() + 1502000;
                      var x;
                      document.getElementById("bbtn{{i}}").disabled = true;
                      document.getElementById("pbtn{{i}}").disabled = true;

                      // Update the count down every 1 second
                          x = setInterval(function() {


                              // Get today's date and time
                              var now = new Date().getTime();



                              // Find the distance between now and the count down date
                              var distance = countDownDate - now;
                              document.getElementById("timer{{i}}").innerHTML = "STARTING...";


                              // Time calculations for days, hours, minutes and seconds

                              var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                              var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                              // Output the result in an element with id="timer"
                              document.getElementById("timer{{i}}").innerHTML = minutes + "m " + seconds + "s ";

                              // If the count down is over, write some text
                              if (distance < 0) {
                                  clearInterval(x);
                                  document.getElementById("timer{{i}}").innerHTML = "COMPLETED";
                                  document.getElementById("bbtn{{i}}").disabled = false;
                                  document.getElementById("pbtn{{i}}").disabled = false;

                                  document.getElementById('sound').play();
                                  alert("PomoDoro Complete! Start Another!");

                              }

                                }, 1000);

                            }


                  function breakactivate{{i}}()
                  {


                      var d = new Date();
                      var countDownDate = d.getTime() + 301000;


                      // Update the count down every 1 second
                      var x = setInterval(function() {

                          // Get today's date and time
                          var now = new Date().getTime();


                          // Find the distance between now and the count down date
                          var distance = countDownDate - now;


                          // Time calculations for days, hours, minutes and seconds

                          var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                          var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                          // Output the result in an element with id="timer"
                          document.getElementById("timer{{i}}").innerHTML = minutes + "m " + seconds + "s ";

                          // If the count down is over, write some text
                          if (distance < 0) {
                              clearInterval(x);
                              document.getElementById("timer{{i}}").innerHTML = "COMPLETED";
                              document.getElementById('sound').play();
                              alert("Break Complete!")
                          }
                      }, 1000);
                  }


                </script>
{% endfor %}
         <div class="dandia2">
          <button class="btn4" type="submit">Remove Selected tasks</button>
         </div>
          </form>
      <br><br><br>

      </div>
  </section>
<section class="fire">
<div id="testimonial-carousel" class="carousel slide" data-ride="false">
      <div class="carousel-inner">


        <div class="carousel-item active container-fluid">
            <em class="noob">Step I</em>
          <h2 class="testimonial-text">Add A Task To The List.</h2>
        </div>


        <div class="carousel-item container-fluid">
            <em class="noob">Step II</em>
          <h2 class="testimonial-text">Start A PomoDoro Session for 25 mins, Upon Completion, Start Break of 5 mins.</h2>
        </div>

        <div class="carousel-item container-fluid">
            <em class="noob">Step III</em>
          <h2 class="testimonial-text">Repeat Step II Four times or as per your convenience, take a longer Break of 30 mins.</h2>
        </div>

        <div class="carousel-item container-fluid">
            <em class="noob">Step IV</em>
          <h2 class="testimonial-text">Remove Tasks As You Complete Them, Add New Tasks, Focus like a Pro :D</h2>
        </div>

      </div>
      <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon"></span>
      </a>
    </div>
    </section>

{% endblock %}