{% extends "layout.html" %}

{% block title %}
    : The Office
{% endblock %}

{% block main %}
  <section class="bigbrain">
    <div>
      <h3>Add a new Task:</h3>
        <form action="/add" method="post">
          <input class="input-field2" name="task" type="text" placeholder="Enter a Task">
          <button class="btn3" type="submit">Add Task</button>
        </form>
    </div>
    <br>

  <h2>TASKS</h2>
      <br>
      <div>
          <form action="/remove" method="post">
            <table class="content-table table-hover table-primary">
              <thead>
              <tr>
                <th>:)</th>
                <th>Task</th>
                <th>Pomodoro</th>
                <th>Timer</th>

              </tr>
              </thead>
            {% for index, task in tasks %}
              <tbody class="ooga">
                <tr>
                  <td><input type="checkbox" name="check{{index}}"></td>
                  <td><span name="removed{{index}}">{{ task }}</span></td>
                  <td><button class="btn2" type="button" name="pomostart{{index}}" onclick="timeractivate{{index}}()">Start Pomodoro</td>
                  <td><p id="timer{{index}}">--</p></td>
                </tr>
              </tbody>
            {% endfor %}
           </table>

{% for i in range(0, count) %}

                  <script src="static/timer.js">


                </script>
{% endfor %}

          <button class="btn4" type="submit">Remove Selected tasks</button>
          <button class="btn4" type="submit">Complete Selected tasks</button>
          </form>
      <br><br><br>

      </div>
  </section>


{% endblock %}